
.backgroundImageDiv {
    background-image: url('https://assetsio.gnwcdn.com/wise-guys-board-game-gale-force-nine-setup.png?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }